# Prerequisites
*.d
*.bin
*.obj

# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.out
*.i*86
*.hex

# Debug files
*.dSYM/


# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
